.encabezado{
	display: flex;
}
#barra{
	background-color: #54301a;
}
img{
	margin: 5px 10px 5px 0px;
}
.litle-text{
	text-align: center;
}
.barra_partidos {
	background-color: #1b508c;
	color: white;
	padding-top: 1.5em;
}
.texto_inicio{
	margin-bottom: 0px;
}
.green-text{
	color: green;
}

#partidos-gallery {
	padding-top: .8em;
	text-align: center;
}
.caption{
	font-size: 0.7em;
	color: #000;

}